.egg {
    width: 3rem;
    height: 4.2rem;
    /* background: white; */
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: rgba(211, 211, 211, 0.767); */
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}